* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #dca2f1;
    --secondaryBackground: #f4d1c9;
    --text: #fff;
    --purple: #5e68f6;
    --teal: #7ff5b2;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-top: 120px; */
    /* background-color: #171c48; */
    /* max-width: 500px; */
    margin: 120px auto 0 auto;
    max-width: 500Px;
    /* width: 100%; */
    gap: 10px;
    /* gap: 10px; */
    background-color: rgb(126, 201, 235);
    background-color: var(--purple);
    border-radius: 20px;
    padding: 60px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6), inset 0 0 20px rgba(130, 141, 255, 0.2);
    border: 1px;
    transition: all 0.3s ease;

}
.contain:hover {
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.8);
    transform: translateY(-5);
}
.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.stats-container{
    padding: 30px;
    border-radius: 20px;
    border: 2px solid var(--purple);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.05);
    backdrop-filter: blur(10px);
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

}
.details h2 {
    white-space: nowrap;
}
#progressBar {
    width: 90%;
    height: 10px;
    background-color: var(--secondaryBackground);
    border-radius: 5px;
    margin-top: 10px;
    overflow: hidden;
}
#progress {
    width: 0%;
    height: 10px;
    background-color: var(--teal);
    border-radius: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 0 10px var(--purple);
}
.progress-container {
    margin-top: 5px;
}
#numbers {
    width: 120px;
    height: 120px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60%;
    font-size: 30px;
    font-weight: bold;
    color: var(--text);
    box-shadow: 0 0 10px rgba(26, 28, 48, 0.6);
}

form {
    margin-top: 60px;
    width: 100%;
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 20px;
    background: var(--secondaryBackground);
    border: 1px solid var(--purple);
    border-radius: 10px;
    outline: none;
    color: black;
    font-size: 16px;
}
input::placeholder {
    color: rgba(29, 27, 27, 0.6);
}

button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: var(--text);
    font-size: 30px;
    font-weight: bold;
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover {
    background-color: #2f324f;
    transform: scale(1.05);
}
#task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    width: 100%;
    list-style: none;
}
.taskItem {
    width: 100%;
    display: flex;
    background-color: var(--secondaryBackground);
    padding: 12px 16px;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
    color: black;

}
.taskItem:hover {
    background-color: #ee7c5a;
}
.task {
    display: flex;
    align-items: center;
    gap: 10px;
}
.task input[type="checkbox"] {
    width: 20px;
    height: 20px;
}
.completed p {
    text-decoration: line-through;
    color: blue;
    opacity: 0.7;
}
.taskItem img {
    width: 24px;
    height: 24px;
    margin: 0 6px;
    cursor: pointer;
    transition: 0.3s ease;
}
.taskItem img:hover {
    transform: scale();
}
